.game_list{
    margin-top: 80px;
}
.game_list_row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.games_sort_settings{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #13101B;
}
.games_sort_item{
    margin-right: 30px;
}
.games_sort_link{
    cursor: pointer;
}
.active_games_sort_link{
    padding-bottom: 20px;
    border-bottom: 2px solid #FFFFFF;
}
.game_list_button{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #366EDC;
    padding: 25px 0;
    width: 100%;
    background-color: #06040F;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    cursor: pointer;
}