@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #06040F;
    color: #fff;
    font-family: 'Monrope', sans-serif;
}
p, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}